LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
LINE_CHANNEL_SECRET=your_line_channel_secret_here
AI_API_KEY=your_openai_api_key_here
GOOGLE_SPREADSHEET_ID=your_google_spreadsheet_id_here